<% @page_title = "Dashboard" %>

<div>
	<div class="row">
		<div class="col-md-6">
			<h2>My Upcoming Events</h2>
			<div class="list-group">
				<% @events.each do |event| %>
					<a href="/events/view/<%= event.id %>" class="list-group-item">
						<%= event.name %></a>
				<% end %>
			  <!--<a href="#" class="list-group-item">Example</a>
			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item">Morbi leo risus</a>
			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>-->
			  <a href="/events" class="list-group-item text-center">See All <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<h2>My Organizations 
				<button type="button" class="btn btn-default">Join</button>
				<a href="/organizations/new"><button type="button" class="btn btn-default">New</button></a>
			</h2>
			<div class="list-group">
				<% @organizations.each do |organization| %>
					<a href="/organizations/view/<%= organization.id %>" class="list-group-item">
						<%= organization.name %></a>
				<% end %>
			  <!--<a href="#" class="list-group-item">Example</a>
			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item">Morbi leo risus</a>
			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
			  <a href="#" class="list-group-item">Vestibulum at eros</a>-->
				<a href="/organizations" class="list-group-item text-center">See All <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
			</div>
			<!--<button type="button" class="btn btn-primary">Join an organization</button>-->
		</div>
	</div>
</div>