<!--
# Name: Ben Meyer
# Course: CSC 415
# Semester: Spring 2015
# Instructor: Dr. Pulimood 
# Project name: CooRIDEinate
# Description: Allows for members of an organization to coordinate rides to a common place
# Filename: create.html.erb
# Description: Shows form to create account
# Last modified on: 2015-04-21-->

<% @page_title = "Create Account" %>

<div>
	<form method="POST" action="/access/createuser">
		<%= token_tag %>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" name="first_name" value="<%= params[:first] %>">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" name="last_name" value="<%= params[:last] %>">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" value="<%= params[:mail] %>">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" name="password">
		</div>
		<div class="form-group">
			<label>Password (Verify)</label>
			<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Please Retype Your Password" name="verifypassword">
		</div>
		
		<button type="submit" class="btn btn-default">Create Account</button>
	</form>
</div>