<!--
# Name: Ben Meyer
# Course: CSC 415
# Semester: Spring 2015
# Instructor: Dr. Pulimood 
# Project name: CooRIDEinate
# Description: Allows for members of an organization to coordinate rides to a common place
# Filename: login.html.erb 
# Description: Shows login form
# Last modified on: 2015-04-21-->

<% @page_title = "Login" %>

<div>
	<%= form_tag(:action => 'attempt_login') do %>
		<p>Email</p>
		<%= text_field_tag(:email) %>
		<br><br>
		<p>Password</p>
		<%= password_field_tag(:password) %>
		<br><br>
		<%= submit_tag("Log In") %>
	<% end %>
	<br>
	<a href="/access/create"><button type="button" class="btn btn-default">Create Account</button></a>
</div>