<% @page_title = "Events" %>

<div>
	<h2>"Event Title"</h2>
	<br>
	<div class="well">
		<div class="row">
			<div class="col-md-4">
				Date: May 19, 2015
			</div>
			<div class="col-md-4">
				Time: 7:00pm
			</div>
			<div class="col-md-4">
				Location: Route 1 North
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-block">Sign Up as Driver</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-block">Auto Sign Up</button>
		</div>
	</div>
	
	<div style="height: 20px;"></div>
	<hr>
	<div style="height: 20px;"></div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Driver: Person</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Panel heading</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Panel heading</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Panel heading</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Panel heading</div>
				<div class="panel-body">
					<p><b>4 passengers max</b></p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<!-- Default panel contents -->
				<div class="panel-heading">Passengers Without Drivers</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
					<li class="list-group-item"><button type="button" class="btn btn-primary btn-block">Sign Up</button></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
