<% @page_title = "Organizations" %>

<div>
	<h1>Organization#index</h1>
	<p>Find me in app/views/organization/index.html.erb</p>

	<h2>My Organizations</h2>
	<h1 class="page-header">My Organizations</h1>
	
</div><!-- end hours -->
