<!--
# Name: Ben Meyer
# Course: CSC 415
# Semester: Spring 2015
# Instructor: Dr. Pulimood 
# Project name: CooRIDEinate
# Description: Allows for members of an organization to coordinate rides to a common place
# Filename: join.html.erb
# Description: Shows form to join an organization
# Last modified on: 2015-04-21-->

<% @page_title = "Join an Organization" %>

<div>
	<h2>Join an Organization</h2>
	
	<div class="list-group">
		<% @organizations.each do |organization| %>
			<a href="/organizations/dojoin/<%= organization.id %>" class="list-group-item"><h4><%= organization.name %></h4></a>
		<% end %>
	</div>	
	
</div>
