<!--
# Name: Ben Meyer
# Course: CSC 415
# Semester: Spring 2015
# Instructor: Dr. Pulimood 
# Project name: CooRIDEinate
# Description: Allows for members of an organization to coordinate rides to a common place
# Filename: new.html.erb
# Description: Shows form to create organization
# Last modified on: 2015-04-21-->

<% @page_title = "New Organization" %>

<div>
	<h1 class="page-header">New Organization</h1>
	
	<form method="POST" action="/organizations/create">
		<%= token_tag %>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="organization[name]">
		</div>
		<button type="submit" class="btn btn-default">Create Organization</button>
	</form>
	
	
	
</div><!-- end hours -->
