<% @page_title = "Organizations" %>

<div>
	
	<h1 class="page-header">Single Organization</h1>
	<p>Organization info</p>
	<p>show events</p>
	
	<div class="list-group">
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
	</div>
	
</div><!-- end hours -->
